# Pickle files
*.pkl

# Environment files
.env

# Data directory
# data/
*.csv
*.zip

# PyTorch model files
*.pth
*.pt

# Log files
*.log

# Results directory
# results/
data/raw/
data/processed/

# Checkpoints directory
checkpoints/

# Python cache files
*.pyc

# Python virtual environment
.venv/

# Python cache files
__pycache__/